NEXT_PUBLIC_AZURE_TENANT_ID=16b09027-c852-4980-9d01-bd9ffc9b1276
NEXT_PUBLIC_AZURE_CLIENT_ID=f5b76c80-0caf-4950-923c-41caa7af243b
NEXT_PUBLIC_AZURE_API_SCOPE=api://f5b76c80-0caf-4950-923c-41caa7af243b/access_as_user
NEXT_PUBLIC_API_BASE_URL=https://bm-academy-dev-api-ydjvvkil.azurewebsites.net
